@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>
    <strong>Sonovate Technical Project</strong>
</p>
<p>
    This is a single-page web application using ASP.NET Core (Mvc, Razor pages).
</p>
<p>
    Requirements:
</p>
<p>
    Hard Rock Recruitment are a recruitment agency who specialise in placing contract software engineers in roles for clients in the tech industry. Day to day, they spend most of their time finding candidates for jobs with their clients (they call these matches ‘placements’), and creating sets of printable timesheets for the candidates to fill out once they have started their contracts.
</p>
<p>
    They believe they can ease the burden of creating the timesheets by commissioning a bespoke application that will allow them to quickly generate timesheets for them to send to candidates.
</p>
<p>
    The app enables the ​user to generate a set of timesheets for a placement, each of which contains the client name, candidate name, job title and timesheet date range such​ ​that​ the user can print them out and send them to a candidate.
</p>
