@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <strong>Address:</strong> <a href="http://www.sonovate.com/">Sonovate</a><br />
    Second Floor, Golate House<br />
    St Mary Street<br />
    Cardiff<br />
    <abbr title="Postcode">CF10 1DX</abbr>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:lothar.ullrich@gmail.com">lothar.ullrich@gmail.com</a><br />
</address>